.tag-listing {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 15px;
    row-gap: 5px;
}

@media screen and (max-width: 768px) {
    .tag-listing {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}