$react: #47CDF6;
$cSharp: #0047AB;
$fritzing: #bc1142;
$css: #0fbaf2; 
$html: #FA4C05;
$firebase: #F6820D;
$javascript: #F1BB47;
$typescript: #306998;
$python: #306998;
$raspberryPi: #bc1142;
$openScad: black;
$mongoDB: #4DB33D;
$twitter: #1DA1F2;
$cpp: #0047AB;
$postgreSQL: #0064a5;
$arduino: #03C0C1;
$instagram: #E1306C;
$facebook: #4267B2;
$youtube: #ff0000;
$linkedin: #007bb5;
$twitch: #6441a5;
$github: #7289da;
$unity: #6A82CA;
$discord: #7289DA;

