$rsMainColor: #006992;
$rsAccentColor: #eca400; // TODO: change to appropriate accent color

$rsTextLight: #F8F8F8;
$rsTextDark: #4e4b4b; //#393E41;
$rsBackgroundColorLight: #F8F8F8;

$rsBlack: #4e4b4b;
$rsWhite: #F8F8F8;

$rsNavbarHeight: 3.5em;